---
import AdminCreate from "../../../components/AdminCreate.astro";
import AdminFormLayout from "../../../layouts/AdminFormLayout.astro";
---

<AdminFormLayout title="Create News" type = "News">

    <main class="relative">
      <AdminCreate type = "news" uptype = "News"/>
    </main>
    
</AdminFormLayout>


<style>
  * {
    transition: all 2s ease-in-out;
  }
  .smooth-scroll {
    scroll-behavior: smooth;
  }
  .custom {
    height: 100%;
    width: 100%;
  }
  .animate__animated.animate__fadeInRightBig {
    --animate-duration: 0s;
  }
</style>
