<div id="sidebar" class="bg-blue-900 h-screen w-full sm:full  pt-3">
    <div id="buttonContainer" class="p-2 flex flex-col justify-evenly">
        <div class="flex items-center justify-center text-center font-bold text-white pb-2">
            <p>Manage content</p>
        </div>
        <div onclick="location.href='/admin/news';" style="cursor: pointer;" class="bg-white flex items-center justify-center text-center h-16 sm:h-20 my-2 sm:mx-2 font-semibold rounded hover:bg-blue-600 hover:text-white duration-200">
            <a href="/admin/news">News</a>
        </div>
        <div onclick="location.href='/admin/rnp';" style="cursor: pointer;" class="bg-white flex items-center justify-center text-center h-16 sm:h-20 my-2 sm:mx-2 font-semibold rounded hover:bg-blue-600 hover:text-white duration-200">
            <a href="/admin/rnp">Research and Publication</a>
        </div>
        <div onclick="location.href='/admin/events';" style="cursor: pointer;" class="bg-white flex items-center justify-center text-center h-16 sm:h-20 my-2 sm:mx-2 font-semibold rounded hover:bg-blue-600 hover:text-white duration-200">
            <a href="/admin/events">Events</a>
        </div>
    </div>
</div>




