

<nav>
	<div class="logo">
	  <img src="assets/Logo64x64.png" alt="logo" />
	  <h1>LOGO</h1>
	</div>
	<ul>
	  <li>
		<a href="#">Home</a>
	  </li>
	  <li>
		<a href="#">Services</a>
	  </li>
	  <li>
		<a href="#">Blog</a>
	  </li>
	  <li>
		<a href="#">Contact Us</a>
	  </li>
	</ul>
	<div class="hamburger">
	  <span class="line"></span>
	  <span class="line"></span>
	  <span class="line"></span>
	</div>
  </nav>



<style>
	
</style>
