


<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="flex flex-col justify-center items-center">
        <div class="relative w-full max-w-6xl rounded-lg bg-white">
            
            <div class="px-16 py-8 w-full max-w-6xl bg-white">
                <h1 class="flex text-xl font-semibold justify-center">The Network of Professional Researchers and Educators (NPRE)</h1>
                <br>
                <p class="flex justify-center">A professional organization devoted to fostering the growth of researchers and educators in the ASEAN region.                <br>
                </p>
                <br>
                The Network of Professional Researchers and Educators (NPRE) is a non-stock, non-profit organization devoted to fostering the growth of professional researchers and educators in the ASEAN region. Serving as a dedicated platform for knowledge dissemination, NPRE is committed to exploring contemporary research and promoting best practices in teaching and learning.                <br>
                <br>
                NPRE, officially registered with the Philippine Securities and Exchange Commission under registration number CN201711870, and operates to advance the fields of research and education within the ASEAN community
            </div>

        </div>
        
        <br>
        
        <div class="relative w-full max-w-6xl rounded-lg bg-white">
            
            <div class="px-16 py-8 w-full max-w-6xl bg-white">
                <h1 class="flex text-xl font-semibold justify-center">PURPOSE OF NPRE</h1>
                <br>
                <ul class="list-disc">
                    <li>To support researchers and educators in their endeavor of disseminating knowledge to the ASEAN and worldwide audience;</li>
                    <li>To assist researchers and educators in responding to the many challenges that they face in teaching the youth of today;</li>
                    <li>To share the latest academic research and best teaching practices in the ASEAN region.  </li>
                </ul>
            </div>
            
        </div>

        <br>
        
        <div class="relative w-full max-w-6xl rounded-lg bg-white">
            
            <div class="px-16 py-8 w-full max-w-6xl bg-white">
                <h1 class="flex text-xl font-semibold justify-center">NPRE MEMBERSHIP</h1>
                <br>
                NPRE membership is open to individuals public and private institutions subscribing to the association's purposes.
                <br>
                <br>
                A researcher/educator can become an NPRE member. The individual membership fee is PHP 500 and is renewable every year. The renewal fee is PHP 150. Lifetime membership is also available at PHP 3,000. Once registered, a member will get a membership certificate, NPRE Official ID, and updates on seminars and conferences.
                <br>
                <br>
                An educational institution may avail of the NPRE institutional membership. Institutional membership is PHP 3,000 and is renewable every year. The renewal fee is PHP 800. Once registered, a school will get an institutional membership certificate and updates on seminars and conferences. The institution may also be tapped as a co-sponsor for the meetings organized by Lumina Foundation for Integral Human Development and NPRE. 
                <br>
                <br>
                To become a member, fill out the membership form below. Kindly email it to luminafoundation.inc@gmail.com
                <br>
                <br>
                <div>
                    <p class="flex justify-center">Membership fee can be deposited at:</p>
                    <p class="flex justify-center">Bank details: <span class="px-2 text-primary-200 font-medium">Bank of the Philippine Islands (BPI)</span></p>
                    <p class="flex justify-center">Account Name: <span class="px-2 text-primary-200 font-medium">LUMINA FOUNDATION FOR INTEGRAL HUMAN DEVELOPMENT</span></p>
                    <p class="flex justify-center">Account Number: <span class="px-2 text-primary-200 font-medium">2331-0002-32</span></p>
                </div>

                <br>

                <div class="flex justify-center">
                    <a href="" class="bg-primary-100 text-white px-4 py-3 rounded-lg shadow-lg hover:bg-primary-200 hover:cursor-pointer transition ease-out">
                        MEMBERSHIP FORM
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>

<br>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="flex flex-col justify-center items-center">
        <div class="carousel relative w-full max-w-6xl overflow-hidden rounded-t-lg bg-white">

            <h1 class="py-5 flex text-xl font-semibold justify-center">NPRE Members & Research Conferences</h1>

            <div class="carousel-inner relative w-full flex">
                <!-- IMAGES  -->
                <div class="carousel-item w-full flex-shrink-0">
                    <img src="../../images/home1.png" alt="Image 1" class="w-full">
                </div>
                <div class="carousel-item w-full flex-shrink-0">
                    <img src="../../images/home2.png" alt="Image 2" class="w-full">
                </div>
                <div class="carousel-item w-full flex-shrink-0">
                    <img src="../../images/home3.png" alt="Image 3" class="w-full">
                </div>
                <div class="carousel-item w-full flex-shrink-0">
                    <img src="../../images/home4.png" alt="Image 4" class="w-full">
                </div>
            </div>
            <button id="prev" class="absolute left-0 top-1/2 transform -translate-y-1/2 text-white hover:text-primary-100 transition ease-out px-4 py-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6 shadow-lg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>  
            </button>
            
            <button id="next" class="absolute right-0 top-1/2 transform -translate-y-1/2 text-white hover:text-primary-100 transition ease-out px-4 py-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6 shadow-lg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>  
            </button>

            <div class="py-5 flex justify-center">
                <a href="" class="bg-primary-100 text-white px-4 py-3 rounded-lg shadow-lg hover:bg-primary-200 hover:cursor-pointer transition ease-out">
                    NEWSLETTER
                </a>
            </div>
            
        </div>

    </div>
        
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let currentIndex = 0;
            const items = document.querySelectorAll('.carousel-item');
            const totalItems = items.length;

            document.getElementById('next').addEventListener('click', function() {
                items[currentIndex].classList.add('hidden');
                currentIndex = (currentIndex + 1) % totalItems;
                items[currentIndex].classList.remove('hidden');
            });

            document.getElementById('prev').addEventListener('click', function() {
                items[currentIndex].classList.add('hidden');
                currentIndex = (currentIndex - 1 + totalItems) % totalItems;
                items[currentIndex].classList.remove('hidden');
            });
        });
    </script>
    
</body>