<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="flex flex-col justify-center items-center">
        <div class="relative w-full max-w-6xl rounded-lg bg-white">
            
            <div class="px-16 py-8 w-full max-w-6xl bg-white">
                <h1 class="flex text-xl font-semibold justify-center">Scholarships</h1>
                <br>
                <p class="flex justify-center">Help us support an inclusive education                <br>
                </p>
                <br>
                At the moment, there are children with special needs who are in dire need of financial assistance to defray the costs of their functional academics. On behalf of financially challenged children with special needs, Lumina Foundation would like to solicit your help and share in our advocacy of providing differently-abled children with the opportunity to learn, access their communities and become productive citizens.                <br>
                <br>
                <div class="flex justify-center">
                    <img src="../../images/scholarships1.png" class="rounded-lg">
                </div>
            </div>

        </div>
        
        <br>
        <h1 class="flex text-xl font-semibold justify-center">Functional Academics Program of Lumina Intervention Center</h1>
        <br>
        
        <div class="relative w-full max-w-6xl rounded-lg bg-white">
            
            <div class="px-16 py-8 w-full max-w-6xl bg-white">
                <h1 class="flex text-xl font-semibold justify-center">Styer-Fitzgerald Functional Academics Program</h1>
                <br>
                The Styer-Fitzgerald Functional Academics Program at Lumina Academic Intervention Center is a complete curriculum which covers the assessment of present level of performance of children with special needs, crafting their Individualized Education Program (IEP), tailor-fit lessons on various functional skills taught by a licensed professional special educator through one-on-one sessions utilizing the Applied Behavior Analysis (ABA) technique, data gathering, monthly progress reports and various assessments.
            </div>
            
        </div>

        <br>
        
        <div class="relative w-full max-w-6xl rounded-lg bg-white">
            
            <div class="px-16 py-8 w-full max-w-6xl bg-white">
                <h1 class="flex text-xl font-semibold justify-center">How can you help?</h1>
                <br>
                A child with special needs who is enrolled in Styer-Fitzgerald Functional Academics Program at Lumina Academic Intervention Center will need 6 thousand pesos (Php 6,000) a month or seventy two thousand pesos (Php 70,000) a year to cover the cost of his or her academics. Through your generous donation, a child with special needs will be able to attain his or her full potential.
                <br>
                <br>
                <h1 class="flex text-xl font-semibold justify-center">As a SPONSOR, you will receive the following:</h1>
                <br>
                <div class="flex flex-col justify-center items-center">
                    <ul class="list-disc">
                        <li>Certificate of Appreciation from Lumina Foundation</li>
                        <li>Access to the profile and performance of your scholar</li>
                        <li>Regular updates on the functional academics of your scholar</li>
                    </ul>
                </div>

                </div>
                
                <div>
                    <p class="flex justify-center text-center">For additional information, please contact the Lumina Foundation for Integral Human Development Secretariat at 0933 634 5460 or email us at luminafoundation.inc@gmail.com</p>
                    <br>
                    <p class="flex justify-center">We are looking forward to having you as our partner in our mission!</p>
                </div>

                <br>

                <div class="flex justify-center">
                    <a href="" class="bg-primary-100 text-white px-4 py-3 rounded-lg shadow-lg hover:bg-primary-200 hover:cursor-pointer transition ease-out">
                        SPONSOR A CHILD
                    </a>
                </div>
                <br>
            </div>

        </div>
    </div>
</body>