---
import AdminTable from "../../components/AdminTable.astro";
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout title="Manage Research and Publications">
    <main class="relative">
        <AdminTable type="Publication"/>
    </main>
</AdminLayout>

<style>
  * {
    transition: all 2s ease-in-out;
  }
  .smooth-scroll {
    scroll-behavior: smooth;
  }
  .custom {
    height: 100%;
    width: 100%;
  }
  .animate__animated.animate__fadeInRightBig {
    --animate-duration: 0s;
  }
</style>
